<div class="cmp cmp-method-list m-b-3">
    
    <ul class="method-list">
        <li class="method-list-item" data-id="50">
            <input type="radio" id="1_paymentMethod50" name="MethodOfPaymentID" value="50" checked="checked">
            <label for="1_paymentMethod50">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">PayPal, Kreditkarte, Sofortüberweisung, Lastschrift, Rechnung</div>
            </label>
        </li><!--
        --><li class="method-list-item" data-id="50">
            <input type="radio" id="2_paymentMethod50" name="MethodOfPaymentID" value="50" checked="checked">
            <label for="2_paymentMethod50">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">Lastschrift (PayPal Plus)</div>
            </label>
        </li><!--
        --><li class="method-list-item" data-id="50">
            <input type="radio" id="paymentMethod50" name="MethodOfPaymentID" value="50" checked="checked">
            <label for="paymentMethod50">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">Kreditkarte (PayPal Plus)</div>
            </label>
        </li><!--
        --><li class="method-list-item" data-id="50">
            <input type="radio" id="3_paymentMethod50" name="MethodOfPaymentID" value="50" checked="checked">
            <label for="3_paymentMethod50">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">Rechnung (PayPal Plus)</div>
            </label>
        </li><!--
        --><li class="method-list-item" data-id="1060">
            <input type="radio" id="paymentMethod1060" name="MethodOfPaymentID" value="1060">
            <label for="paymentMethod1060">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">Sofortüberweisung</div>
            </label>
        </li><!--
        --><li class="method-list-item" data-id="1">
            <input type="radio" id="paymentMethod1" name="MethodOfPaymentID" value="1">
            <label for="paymentMethod1">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">Nachnahme</div>
            </label>
        </li><!--
        --><li class="method-list-item" data-id="0">
            <input type="radio" id="paymentMethod0" name="MethodOfPaymentID" value="0">
            <label for="paymentMethod0">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">Vorkasse</div>
            </label>
        </li>
    </ul>
</div>