.basket-preview{

	display: flex;
    flex-flow: column nowrap;

    .list{
	    display: flex;
	    flex-flow: column nowrap;
    	flex: 0 1 auto;
	    overflow: auto;
    }

    .totals{
    	flex: 1 0 auto;
	    display: flex;
	    flex-flow: column nowrap;
    }
}