<article class="cmp cmp-basket-preview-item">
	<div class="basket-item-quantity">
		<div class="input-group vert">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button">+</button>
			</span>
			<input type="text" class="form-control" placeholder="666" size="3" maxlength="3">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button">-</button>
			</span>
		</div>
	</div>

	<div class="basket-item-image">
		<img src="http://placekitten.com/g/100/100">
	</div>
	
	<div class="basket-item-infos small">
		<a class="clearfix" href="">
			<div class="item-name">
				C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
			</div>
			<div class="item-details">
				5,00 € / Stück
			</div>
			<div class="item-total">
				10,00 €
			</div>
		</a>
		<div class="item-remove">
			Löschen <i class="fa fa-times"></i>
		</div>
	</div>
</article>