---
layout: default
---

<div class="anmeldung2 container">
	<div class="row">
      	<div class="col-sm-6">
      		<h2>Login</h2>
		      <form action="" method="POST">
			      {% include _partial-forms/login.html %}
			      <button type="submit" class="btn btn-primary">Senden</button>
		      </form>
		      <p><a href="#">Passwort vergessen?</a>
      	</div>
      	<div class="col-sm-6">
      		<h2>Registrieren</h2>
		      <form action="" method="POST">
			      {% include _partial-forms/login.html %}
			      {% include _partial-forms/anmelden.html %}
			      <button type="submit" class="btn btn-primary">Senden</button>
		      </form>		      
      	</div>
		</div>
	</div>
</div>
<!-- anmeldung2 end -->