---
layout: default
---


<div class="anmeldung container">

	<div class="row m-b-3">
      	<div class="col-sm-10 offset-sm-1 col-md-5 offset-md-0">
      		<div class="row m-b-3">
	      		<h1>Anmeldung</h1>
	      	</div>
	      	{% include _partial-forms/login.html %}
	   
      	</div>
      	<div class="col-xs-12 col-md-2">
            <h6 class="text-center">
                  Oder
            </h6>
      	</div>
      	<div class="col-sm-10 offset-sm-1 col-md-5 offset-md-0">
      		<div class="row m-b-3">
      			<h1 class="col-xs-12">Registrieren Sie sich</h1>
    		</div>

      		{% include _partial-forms/registration.html %}
      	</div>
	</div>
</div>
<!-- anmeldung end -->

