---
layout: default
---
<div class="categoriegrid container">
    
    <div class="row m-t-3 m-b-2">
        <div class="col-xs-12">
            <h1>Kategoriename</h1>
            <hr class="hidden-sm-down">
        </div>
    </div>

    <div class="row m-b-3">
        <!-- leftSide start -->
        <div class="col-lg-3">
            <aside class="cmp cmp-filters card">
                <div class="card-header filters-header bg-primary">
                    <strong class="title">Filters</strong>
                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#filters-content">
                        ☰
                    </button>
                </div>
                <div class="collapse navbar-toggleable-md" id="filters-content">
                    

                    <div class="cmp cmp-accordion active-md-down">
                            

                        <div class="filter-group">

                            <input type="checkbox" id="accordionHeader1" class="accordion-control" value="">
                            <label for="accordionHeader1" class="m-b-0 accordion-header card-header font-weight-bold">Preis</label>
                            
                            <div class="accordion-content">
                                <div id="priceRangeContent" class="card-block">
                                    <input class="" type="range" name="price-range" value="" placeholder="">
                                </div>
                            </div>

                        </div>




                        <div class="filter-group">

                            <input type="checkbox" id="accordionHeader2" class="accordion-control" value="">
                            <label for="accordionHeader2" class="m-b-0 accordion-header card-header font-weight-bold">Stückzahl</label>
                            
                            <div class="accordion-content">
                                <div class="card-block">
                                    <input type="range" min="1" max="10" value="4" id="fader" step="1" list="amount">
                                    <datalist id="amount">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </datalist>
                                </div>
                            </div>

                        </div>







                        <div class="filter-group ">
                            
                            <input type="checkbox" id="accordionHeader3" class="accordion-control" value="">
                            <label for="accordionHeader3" class="m-b-0 accordion-header card-header font-weight-bold">Farben</label>
                            
                            <div class="accordion-content">
                                <div class="card-block filters-colors">
                                    <input type="checkbox" id="color1" name="colors" value="color-name">
                                    <label class="color" for="color1" data-color="red">Rot</label>

                                    <input type="checkbox" id="color2" name="colors" value="color-name">
                                    <label class="color" for="color2" data-color="green">Grün</label>

                                    <input type="checkbox" id="color3" name="colors" value="color-name">
                                    <label class="color" for="color3" data-color="blue">Blau</label>

                                    <input type="checkbox" id="color4" name="colors" value="color-name">
                                    <label class="color" for="color4" data-color="black">Schwarz</label>

                                    <input type="checkbox" id="color5" name="colors" value="color-name">
                                    <label class="color" for="color5" data-color="yellow">Gelb</label>

                                    <input type="checkbox" id="color6" name="colors" value="color-name">
                                    <label class="color" for="color6" data-color="pink">Rosa</label>

                                    <input type="checkbox" id="color7" name="colors" value="color-name">
                                    <label class="color" for="color7" data-color="gray">Grau</label>

                                    <input type="checkbox" id="color8" name="colors" value="color-name">
                                    <label class="color" for="color8" data-color="purple">Lila</label>

                                    <input type="checkbox" id="color9" name="colors" value="color-name">
                                    <label class="color" for="color9" data-color="rainbow">Bunt</label>
                                </div>
                            </div>
                        </div>




                        <div class="filter-group">

                            <input type="checkbox" id="accordionHeader4" class="accordion-control" value="">
                            <label for="accordionHeader4" class="m-b-0 accordion-header card-header font-weight-bold">Marken</label>
                            
                            <div class="accordion-content">
                                <div class="card-block">
                                    <input type="checkbox" id="marke1" name="" value="">
                                    <label for="marke1">Marke 1</label>
                                    <br>
                                    <input type="checkbox" id="marke2" name="" value="">
                                    <label for="marke1">Marke 2</label>
                                    <br>
                                    <input type="checkbox" id="marke3" name="" value="">
                                    <label for="marke1">Marke 3</label>
                                    <br>
                                    <input type="checkbox" id="marke4" name="" value="">
                                    <label for="marke1">Marke 4</label>
                                    <br>
                                    <input type="checkbox" id="marke5" name="" value="">
                                    <label for="marke1">Marke 5</label>
                                    <br>
                                    <input type="checkbox" id="marke6" name="" value="">
                                    <label for="marke1">Marke 6</label>
                                    <br>
                                    <input type="checkbox" id="marke7" name="" value="">
                                    <label for="marke1">Marke 7</label>
                                    <br>
                                    <input type="checkbox" id="marke8" name="" value="">
                                    <label for="marke1">Marke 8</label>
                                    <br>
                                    <input type="checkbox" id="marke9" name="" value="">
                                    <label for="marke1">Marke 9</label>
                                    
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </aside>
        </div>
        <!-- leftSide end -->
            






        

        <!-- rightside start -->
        <div class="col-lg-9">
            <div class="list-controls row">
                
                <div class="col-xs-6">
                    <div class="input-unit">
                        <select class="custom-select" id="SelectPerPage">
                            <option>Preis: Aufsteigend</option>
                            <option>Preis: Absteigend</option>
                            <option>A bis Z</option>
                            <option>Z bis A</option>
                            <option>A bis Z</option>
                            <option>Auf Lager</option>
                            <option>Neu eingetroffen</option>
                            <option>Bewertung</option>
                        </select>
                        <label for="SelectPerPage">
                            Sortierung
                        </label>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="input-unit">
                        <select class="custom-select" id="SelectPerPage">
                            <option>20</option>
                            <option>40</option>
                            <option>60</option>
                            <option>Alle</option>
                        </select>
                        <label for="SelectPerPage">
                            Artikel pro Seite
                        </label>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 page-infos m-b-1">
                    <div class="toggle-list-view pull-xs-left m-r-1">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <i class="fa fa-th" aria-hidden="true"></i>
                    </div>
                    <div class="product-count pull-xs-right">
                        Zeige 1 - 6 von XX Artikeln
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 m-b-1">
                    {% include _component-paginator/component-paginator.html %}
                </div>
            </div>            

            
            <hr class="m-b-1 hidden-sm-down">
            
            <ul class="product-list row grid">

                <li>{% include _partial-checklist/category-list-item.html %}</li>
                <li>{% include _partial-checklist/category-list-item.html %}</li>
                <li>{% include _partial-checklist/category-list-item.html %}</li>

                <li>{% include _partial-checklist/category-list-item.html %}</li>
                <li>{% include _partial-checklist/category-list-item.html %}</li>
                <li>{% include _partial-checklist/category-list-item.html %}</li>

                <li>{% include _partial-checklist/category-list-item.html %}</li>
                <li>{% include _partial-checklist/category-list-item.html %}</li>
                <li>{% include _partial-checklist/category-list-item.html %}</li>

            </ul>
            
            <hr class="m-y-2">
            
            <div class="list-controls m-b-3 row">
                <div class="col-xs-12">
                    {% include _component-paginator/component-paginator.html %}
                </div>
            </div>
        </div>
        <!-- rightside end --> 
    </div>
    <!-- row end -->
</div>
<!-- categorielist end -->