---
layout: default
---
<div class="home container">
    
    {% include _component-hero/component-hero.html %}

    <div class="col-xs-12 p-x-0 m-t-1 m-b-0">
        <img src="dist/images/kitten_sale.jpg" class="img-fluid" alt="Kitten SALE" />
    </div>
    <h2 class="col-xs-12 sale hidden-md-up">sale</h2>

    <!-- crosssell start -->
    <div class="row m-y-3">
        <h2 class="col-xs-12 m-b-1 m-t-2">Neu für Sie</h2>        
        <div class="col-xs-12">
            <ul class="crosssellers list-unstyled row">
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">{% include _partial-checklist/category-list-item.html %}</li>
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">{% include _partial-checklist/category-list-item.html %}</li>
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">{% include _partial-checklist/category-list-item.html %}</li>
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">{% include _partial-checklist/category-list-item.html %}</li>
            </ul>
        </div>
    </div>
    <!-- crosssell start -->


    <h2 class="col-xs-12 m-t-3 m-b-0 p-x-0">Beliebte CATegorien</h2>
    <div class="row p-x-0">
        <div class="col-xs-6 col-sm-4 m-y-1">
            <div class="square-container border">
                <div class="square-inner center-xy">
                    <img class="img-fluid height" src="http://placehold.it/400/400" alt="CAT">
                    <div class="overlay-banner">
                        <p class="overlay-banner-content">
                            <a href="#">CATegorie</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 m-y-1">
            <div class="square-container border">
                <div class="square-inner center-xy">
                    <img class="img-fluid height" src="http://placehold.it/400/400" alt="CAT">
                    <div class="overlay-banner">
                        <p class="overlay-banner-content">
                            <a href="#">CATegorie</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 m-y-1">
            <div class="square-container border">
                <div class="square-inner center-xy">
                    <img class="img-fluid height" src="http://placehold.it/400/400" alt="CAT">
                    <div class="overlay-banner">
                        <p class="overlay-banner-content">
                            <a href="#">CATegorie</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- crosssell start -->
    <div class="row m-y-3">    
        <h2 class="col-xs-12 m-b-1 m-t-2">Angebote & Aktionen</h2>        
        <div class="col-xs-12">
            <ul class="crosssellers list-unstyled row">
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">{% include _partial-checklist/category-list-item.html %}</li>
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">{% include _partial-checklist/category-list-item.html %}</li>
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">{% include _partial-checklist/category-list-item.html %}</li>
                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">{% include _partial-checklist/category-list-item.html %}</li>
            </ul>
        </div>
    </div>
    <!-- crosssell start -->
</div>
<!-- home end -->
<a href="#" class="totop hidden-md-up">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
    <br/>
    Zum Seitenanfang
</a>