---
layout: default
---

<div class="myaccount container m-y-3">
    
    <div class="row m-b-3">
        <div class="col-sm-9">
            <h1>Mein Konto</h1>
            <span class="text-muted">Hallo Max Musterman!</span>
        </div>
        <div class="col-sm-3">
            <button type="" class="btn btn-danger pull-xs-right">Logout</button>
        </div>
        <div class="col-xs-12">
            <hr class="">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h4>
                Rechnungsadressen
            </h4>
            <p class="text-muted small font-italic">Alle Rechnungsadressen</p>
            <div class="shipping-addresses-select">
                {% include _component-address-list/component-address-list.html id="invoiceAddress" %}
            </div>
        </div>
        <div class="col-md-6">
            <h4>
                Lieferadressen
            </h4>
            <p class="text-muted small font-italic">Alle Lieferadressen</p>
             <div class="shipping-addresses-select">
                {% include _component-address-list/component-address-list.html id="shippingAddress" %}
            </div>
        </div>   
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h4>
                Kontoeinstellungen
            </h4>
            <p class="text-muted small font-italic">Ändern Sie Ihre Zugangsdaten</p>
            
            <div class="card m-b-3">
                <div class="card-block">
                    <div class="row  m-b-1">
                        <div class="col-sm-4">
                            <strong>E-Mail</strong>
                        </div>
                        <div class="col-sm-8">
                            <span>email@domain.com</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Passwort</strong>
                        </div>
                        <div class="col-sm-8">
                            <span>***********</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h4>
                Bankinformationen
            </h4>
            <p class="text-muted small font-italic">Ändern Sie Ihre Zahlungsinformationen</p>
            {% include _component-address-list/component-address-list.html id="bankinfos" %}
        </div>
    </div> 

</div>

<!-- Auftragshistorie -->

<div class="history container m-b-3">
    <div class="row m-b-3">
        <h1 class="col-xs-12">Auftragshistorie</h1>
    </div>

    <form action="" method="">
        
        <div class="row m-b-1">
            <div class="col-sm-6 col-md-3">
                <div class="input-unit">
                    <input id="auftragId" type="text">
                    <label for="auftragId">Auftrag ID eingeben</label>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="input-unit">
                    <select class="custom-select" id="TimePeriod">
                        <option>---</option>
                        <option>letzte 30 Tage</option>
                        <option>letzte 3 Monate</option>
                        <option>letzte 6 Monate</option>
                    </select>
                    <label for="TimePeriod">Zeitraum wählen</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="input-unit">
                    <input id="von" type="text">
                    <label for="von">Von</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="input-unit">
                    <input id="auftragId" type="text">
                    <label for="auftragId">Bis</label>
                </div>
            </div>    
        </div>

        <div class="row">
            <div class="col-sm-3 offset-sm-9">
                <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </div>
        </div>
    </form>

    <hr>
    <div class="row m-b-1">
        <div class="col-sm-6">
            X Aufträge
        </div>
        <div class="col-sm-6">
            <div class="pull-xs-right">
                PLATZHALTER FÜR PAGINATOR
            </div>
        </div>
        
    </div>
    <hr>
    
    <div class="order-list">
        {% include _component-order-item/component-order-item.html %}
        {% include _component-order-item/component-order-item.html %}
        {% include _component-order-item/component-order-item.html %}
        {% include _component-order-item/component-order-item.html %}
    </div>

</div>
<!-- customerdata end -->