// WebKit-style focus

@mixin sitepad($size) {
    @if $size == xs {
        padding-left: $sitepad_xs;
        padding-right: $sitepad_xs;
    }
    @else if $size == sm{
        padding-left: $sitepad_sm;
        padding-right: $sitepad_sm;
    }
    @else if $size == md{
    	padding-left: $sitepad_md;
        padding-right: $sitepad_md;
    }
    @else if $size == lg{
    	padding-left: $sitepad_lg;
        padding-right: $sitepad_lg;
    }
}
