//header scss
.top-bar{

	$topbar-height : 2rem;

	position: relative;
	z-index: 1001;
	height: $topbar-height;
	background-color: $gray-dark;

	.list-inline-item:not(:last-child){
		margin-right: .6rem;
	}

	.list-inline{
		margin-bottom: 0;
		
		.list-inline-item{
			color: white;
			
			&>span>a,
			&>a{
				line-height: 2rem!important;
				font-size: .8rem;
				display: inline-block;
				color: white;
			}

			.flag-icon{
				margin-right: .4rem;
			}
		}
	}
	
	ul.pull-xs-right{

		li:last-child{
			a{
				background-color: $brand-primary;
				padding: 0 .6rem;

				i{
					font-size: $font-size-sm;
					margin-right: $margin;
				}
			}
		}
	}

	.searchBox,
	.search-box{
		.dropdown-menu{
			min-width: 320px;
			padding: 0;
			border: none;
		}
	}

	.country-settings{
		min-width: 320px;
		padding: 0;
		border: none;

	}
}




// ul.dropdown-menu.dropdown-menu-right {
// 	z-index:1001;
// }

//navigation scss
.navbar {
  	border-radius: 0;
}

.navbar-toggler {
	float:right;
}
