//header scss
.top-bar{

	$topbar-height : 2rem;
	color:#dcdbd8;
	position: relative;
	z-index: 1001;
	height: $topbar-height;
	background-color: #171F24;

	.shariff {
		.theme-minimal {
			.shariff-button {
				a {
					color: #dcdbd8;
				}
			}
		}
	}

	.list-inline-item:not(:last-child){
		margin-right: .6rem;
	}

	.list-inline{
		margin-bottom: 0;
		
		.list-inline-item{
			color: #dcdbd8;
			
			&>span>a,
			&>a{
				line-height: 2rem!important;
				font-size: .8rem;
				display: inline-block;
				color: #dcdbd8;
			}

			.flag-icon{
				margin-right: .4rem;
			}
		}
	}
	
	ul.pull-xs-right{

		li:last-child{
			a{
				background-color: $brand-primary;
				padding: 0 .6rem;
				color:#FFF;
				i{
					font-size: $font-size-sm;
					margin-right: .5rem;
					color:#FFF;
				}
			}
		}
	}

	.searchBox,
	.search-box{
		.dropdown-menu{
			min-width: 320px;
			padding: 0;
			border: none;
		}
	}

	.country-settings{
		min-width: 200px;
		max-width: 320px;
		padding: 0;
		border: none;
		position:absolute;
		a {
			&:hover {
				background-color: darken($brand-primary, 20%);			    
				color: #dcdbd8;
			    border: 1px solid darken($brand-primary, 20%);
				text-decoration: none;
			}
		}
	}
}

a#toggleBasketPreview:hover {
	background-color: darken($brand-primary, 20%);
}

//navigation scss
.navbar {
  	border-radius: 0;
  	height:5rem;
  	padding:0;
}

.navbar-nav {
	line-height:0;
		.nav-item+.nav-item {
			margin-left: 0;
		}
}

.navbar-brand {
	position: absolute;
    display: block;
    padding: .5rem 1rem;
}


.navbar-toggler {
	float:right;
    line-height: 3rem;
}

.nav-link {
		color: #fff!important;
		padding: 2.5rem .5rem!important;
	}


li.nav-item.open {
	position: relative;
}
li.nav-item.dropdown {
	cursor: pointer;
}
li.nav-item.active {
	background-color: darken($brand-primary, 20%);
	color:#fff;
}

.nav-item {
	.dropdown-toggle {
		margin-right:1rem;
		&::after {
			position: absolute;
		}
	}
	a {
	padding:.5rem;
	}
		&:hover {
		background-color: darken($brand-primary, 20%);
		color:#fff;
	}
}

.dropdown-menu {
    position: absolute;
    z-index: 1041;
    display: none;
    min-width: 160px;    
    margin: 0;
    padding:0;
    color: #4d4f4d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border-radius: .1rem;    
    right: 0;
    left: auto;
		.dropdown-item {
		    display: block;
		    width: 100%;
		    padding: 1.25rem .5rem;
		    color: #4d4f4d;
		    text-align: inherit;
		    background: 0;
		    border: 0;
				&:hover {
					background-color:darken($brand-primary, 20%);
					color:#FFF;

				}
		}
}

@include media-breakpoint-up(sm){
	.top-bar {
		.shariff {
			width:100%;
			margin:0;
			.orientation-horizontal {
				li {
				width:65px;
				margin:0;				
				}
			}
		}
	}
}	
@include media-breakpoint-down(md){
	.top-bar {
		.shariff {
			width:100%;
			margin:0;
			.orientation-horizontal {
				li {
				width:50px;	
					.share_text {
						display: none;
					}
				}
			}
		}
	}

	.nav-link {	
		padding: 1.5rem!important;
	}

	.dropdown {
	clear:both;
	}
	
	.dropdown-menu {
			position: relative;
			min-width: 100%;
		}

	div#mainNavbarCollapse {
    top: 5rem;
    position: absolute;
    z-index: 1000;
    background-color: $brand-primary;
    width: 100%;
    left: 0;
	}
}	

@include media-breakpoint-down(xs){
	.top-bar {
		.shariff {
			display: none;
		}
	}
}