<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm-down">
                <div  class="shariff socialbar" 
                    data-services='["facebook","googleplus","pinterest","twitter"]' 
                    data-url="" 
                    data-media-url=""
                    data-theme="minimal"
                    style="margin-top:3px;"></div>
            </div>
            <div class="col-md-8">
                <ul class="list-inline pull-xs-right ">
                    <li class="list-inline-item">
                        <span>
                            <a data-toggle="modal" href="#login">Einloggen</a>
                            <small>oder</small>
                            <a data-toggle="modal" href="#signup">Registieren</a>
                        </span>
                    </li>
                    <li class="list-inline-item dropdown searchBox">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-search"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <span class="input-group">
                                    <input type="text" class="form-control" placeholder="Suchen.." aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2">Suchen</span>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="modal" data-target="#basketprev"> <i class="fa fa-shopping-cart"></i>
                            0€
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>Artikel in Ihrem Warenkorb</li>
                            <li>
                                <a href="single-product.html">
                                    <div class="media">
                                        <img class="media-left media-object" src="#" alt="cart-Image">
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                Artikel
                                                <br>
                                                <span>2 x 199€</span>
                                            </h5>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" onclick="#';">Warenkorb</button>
                                    <button type="button" class="btn btn-default" onclick="#';">Ausloggen</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- LOGIN MODAL -->
<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Einloggen</h3>
            </div>
            <div class="modal-body">
                {% include _partial-forms/login.html %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Account erstellen</h3>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="m-b-1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-unit">
                                <input type="email" name="email" id="txt_email">
                                <label for="txt_email">E-Mail*</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="input-unit">
                                <input type="password" name="password" id="txt_pw">
                                <label for="txt_pw">Passwort*</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="input-unit">
                                <input type="password" name="password" id="txt_pwrepeat">
                                <label for="txt_pwrepeat">Passwort wiederholen*</label>
                            </div>
                        </div>

                        <div class="col-xs-8">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value=""> <span>Passwort merken</span>
                            </label>
                            <div>
                                <a href="#" class="small">Passwort vergessen?</a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary pull-xs-right">Senden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Navigation -->
<div class="container">
    <nav class="navbar navbar-full navbar-dark bg-primary">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">&#9776;</button>
        <a class="navbar-brand" href="#">Brand</a>
        <div class="collapse navbar-toggleable-md" id="mainNavbarCollapse">
            <ul class="nav navbar-nav pull-lg-right">
                <li class="nav-item">
                    <a class="nav-link" href="/callisto4">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="single.html">Single Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="categorielist.html">Category List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="basket.html">Warenkorb</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="checkout.html">Kasse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="my-account.html">Mein Konto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="confirmationpage.html">Danke Seite</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forms</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li>
                            <a class="dropdown-item" href="registrieren.html">Registrieren</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="gast.html">Gast Registrieren</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="anmeldung.html">Anmeldung</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- breadcrumb -->
    {% include _component-breadcrumb/component-breadcrumb.html %}
</div>