<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm-down">
                <div  class="shariff socialbar" 
                    data-services='["facebook","googleplus","pinterest","twitter"]' 
                    data-url="" 
                    data-media-url=""
                    data-theme="minimal">
                    
                </div>
            </div>
            <div class="col-md-8">
                <ul class="list-inline pull-xs-right ">
                    <li class="list-inline-item">
                        <span>
                            <a data-toggle="modal" href="#login">Login</a>
                            <small class="hidden-sm-down">oder</small>
                            <small class="hidden-md-up">|</small>
                            <a data-toggle="modal" href="#signup">Registieren</a>
                        </span>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a href="#" class="dropdown-toggle" id="shippingCountryList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="flag-icon flag-icon-de"></i>
                            <span class="hidden-xs-down">Ländereinstellungen</span>
                        </a>
                        <div class="country-settings dropdown-menu dropdown-menu-right small">
                            <div class="list-group" aria-labelledby="shippingCountryList" >
                                <div class="list-group-item small disabled">
                                    <strong>Länderauswahl</strong>
                                </div>
                                <a href="#" class="list-group-item small">
                                    <i class="flag-icon flag-icon-de"></i>
                                    Deutschland
                                </a>
                                <a href="#" class="list-group-item small">
                                    <i class="flag-icon flag-icon-at"></i>
                                    Österreich
                                </a>
                                <a href="#" class="list-group-item small">
                                    <i class="flag-icon flag-icon-ch"></i>
                                    Schweiz
                                </a>
                                <a href="#" class="list-group-item small">
                                    <i class="flag-icon flag-icon-fr"></i>
                                    Frankreich
                                </a>
                                <a href="#" class="list-group-item small">
                                    <i class="flag-icon flag-icon-gb"></i>
                                    England
                                </a>
                                <a href="#" class="list-group-item small">
                                    <i class="flag-icon flag-icon-it"></i>
                                    Italien
                                </a>
                                <div class="list-group-item small disabled">
                                    <strong>Spracheauswahl</strong>
                                </div>
                                <a href="#" class="list-group-item small">
                                    <i class="flag-icon flag-icon-de"></i>
                                    Deutsch
                                </a>
                                <a href="#" class="list-group-item small">
                                    <i class="flag-icon flag-icon-gb"></i>
                                    English
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item dropdown searchBox">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-search"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <span class="input-group">
                                    <input type="text" class="form-control" placeholder="Suchen.." aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2">Suchen</span>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" id="toggleBasketPreview" class="toggle-basket-preview">
                            <i class="fa fa-shopping-cart"></i>
                            32€
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Navigation -->
<div class="container">
    <nav class="navbar bg-primary">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">&#9776;</button>
        <a class="navbar-brand" href="#">
            <img src="dist/images/logo.svg">
        </a>
        <div class="collapse navbar-toggleable-md" id="mainNavbarCollapse">
            <ul class="nav navbar-nav pull-lg-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/callisto4">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="single.html">Single Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="categorielist.html">Category List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="basket.html">Warenkorb</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="checkout.html">Kasse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="my-account.html">Mein Konto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="confirmationpage.html">Danke Seite</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forms</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="registrieren.html">Registrieren</a>
                            <a class="dropdown-item" href="gast.html">Gast Registrieren</a>
                            <a class="dropdown-item" href="anmeldung.html">Anmeldung</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item" href="content-payment.html">Content Payment</a>
                            <a class="dropdown-item" href="ui.html">UI Components</a>
                            <a class="dropdown-item" href="contentpage.html">Content Page</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- breadcrumb -->
    {% include _component-breadcrumb/component-breadcrumb.html %}
</div>