<div class="row">
        <div class="col-md-6 text-xs-left"> <b>Hier steht der Titel</b> </div>
        <div class="col-md-6 btn-group text-xs-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Speichern</button>
            <button type="button" class="btn btn-primary">Löschen</button>
            <button class="btn btn-primary btn_buy to_basket_control-buy" type="" data-url=""> <i class="fa fa-shopping-cart" aria-hidden="true"></i> </button>
        </div>
    </div>