<div class="row m-b-3">
	<div class="col-md-2 col-xd-12 "> 
	    <img src="https://placekitten.com/120/120" alt="" class="img-fluid" /> 
	</div>
	<div class="col-md-8 col-xd-12 flex-container">
	    <div class="flex-item">
	        <div><b>Artikel-ID</b></div>
	        <div>12345</div>
	    </div>
	    <div class="flex-item">
	        <div><b>Stückpreis</b></div>
	        <div>3,49 €</div>
	    </div>
	    <div class="flex-item">
	        <div><b>Anzahl</b></div>
	        <div>
	            <input name="quantity" size="3" value="1" type="text"> </div>
	    </div>
	    <div class="flex-item">
	        <div><b>Kommentar</b></div>
	        <div>
	            <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
	        </div>
	    </div>
	</div>	           
	<div class="col-md-2 col-xd-12 flex-container">
	    <div class="flex-item">
	        <div class="ItemsPriceValue"> <span class="PlentyCurrencyContainer"><span class="PlentyCurrencyValue">3,49</span><span class="PlentyCurrencySymbol">EUR</span></span>
	        </div>
	        <div class="ItemsPriceVat"> inkl. ges. MwSt. 7% </div>
	        <div class="ItemsPriceShipping"> <a href="https://shop.seeberger.de/zahlung-versand/">zzgl. Versandkosten</a> </div>
	    </div>
	</div>
</div>