<div class="footertop clearfix">
        <div class="container">
          <div class="row">
            <h3 class="text-xs-center">Zahlen Sie bequem per</h3>
            <div class="col-sm-12 col-xs-12 text-xs-center">
              <img src="dist/images/de-pp-logo-100px.png" alt="PayPal">
            </div>
            <!--<div class="col-sm-4 col-xs-12 text-xs-center">
              <img src="dist/images/sofort-ueberweisung.png" width="100" alt="Sofort Überweisung">
            </div>
            <div class="col-sm-4 col-xs-12 text-xs-left">
              <p>Vorkasse per Überweisung</p>
            </div>-->
          </div>
          <hr>
          <div class="row">
            <h3 class="text-xs-center">Wir versenden mit</h3>
            <div class="col-sm-12 text-xs-center">
              <img src="dist/images/dhl-logo.png" alt="DHL">
            </div>
          </div>  
        </div>
      </div>  

    