
<!-- leftSide start -->
<div class="col-xs-6 col-md-3">
  <img class="img-fluid" src="https://placekitten.com/170/170" alt="Artikelbild"/>
</div>
<!-- leftSide end -->

<!-- center start -->
<div class="center-block col-xs-6 ">
  <h5>Artikeltitel</h5>
  <p>Merkmal A, Merkmal B</p>
  <h6 class="tags">
    <a href="#">Sale</a>
    |
    <a href="#">Bestseller</a>
    |
    <a href="#">New</a>
  </h6>
</div>
<!-- center end -->

<!-- right start -->
<div class="right-block col-xs-6 col-md-3">
  <div class="crossprice">
    <span> <del>30,00&thinsp;€</del>
    </span>
  </div>
  <span class="price">
    24,00
    <span itemprop="currency" content="EUR">€</span>
  </span>
  <span class="saving">
    -20 %
    <span itemprop="currency" content="EUR">€</span>
  </span>
  <div class="rating hidden-md-down"> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <p class="rezension">
      <a href="#">1 Bewertung</a>
    </p>
  </div>

  <span class="availability">
    <span id="" class="">Sofort lieferbar</span>
  </span>

  <div>
    <button class="btn btn-primary btn_buy to_basket_btn control-buy" type="" data-url="">
      <i class="fa fa-shopping-cart" aria-hidden="true">Warenkorb</i>
    </button>
  </div>
</div>
<!-- right end -->
<!-- row end -->