<div class="col-md-6 col-lg-4 m-b-1">
    <div class="product-thumb">
            
        <div class="square-container">
            <div class="square-inner center-xy main-image">
                <img class="img-fluid" src="https://placekitten.com/200/200" alt="Artikel" />
            </div>
        </div>
        <div class="product-thumb-content">
                
            <strong class="item-name small">
                C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
            </strong>
            
            <div class="clearfix">
                <del class="crossprice pull-xs-left">
                    30,00
                    <span itemprop="currency" content="EUR">€</span>
                </del>

                <span class="price h3 pull-xs-right">
                    24,00
                    <span itemprop="currency" content="EUR">€</span>
                </span>
            </div>
            
            <span class="tags hover-only">
                <a href="#">Sale</a>
                |
                <a href="#">Bestseller</a>
                |
                <a href="#">New</a>
            </span>
            
            <p class="hover-only">Merkmal A, Merkmal B</p>
            
            <span class="saving hover-only">
                -20 %
                <span itemprop="currency" content="EUR">€</span>
            </span>

            <div class="rating pull-xs-right hover-only">
                <span class="tag tag-pill tag-success">
                    <i class="fa fa-star"></i> 
                    4.5 
                    <span class="amount">357</span> 
                </span>
            </div>

            <span class="availability tag tag-success hover-only">Sofort lieferbar</span>

            <div>
                <button class="btn btn-primary btn-block hover-only">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Warenkorb
                </button>
            </div>

        </div>
        
    </div>
</div>