<div class="product-thumb m-b-1">
    <div class="thumb-inner">

        <div class="thumb-image">
            <div class="square-container">
                <div class="square-inner center-xy main-image">
                    <img class="img-fluid" src="https://placekitten.com/300/300" alt="Artikel" />
                </div>
            </div>
        </div>
        <div class="special-tags tl v">

            <span class="special-tag bg-success">Top</span>

            <span class="special-tag bg-danger">Sale</span>

            <span class="special-tag bg-primary">New</span>

        </div>

        <div class="thumb-content">

            <span class="thumb-title small">
                C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
            </span>

            <div class="thumb-meta">

                <div class="left"> <del class="crossprice">30,00
                        <span itemprop="currency" content="EUR">€</span></del> 

                    <div class="rating">
                        <span class="tag tag-success"> <i class="fa fa-star"></i>
                            4.5
                            <span class="amount">357</span>
                        </span>
                    </div>

                </div>

                <div class="price">
                    24,00
                    <span itemprop="currency" content="EUR">€</span>
                </div>

            </div>

            <div class="thumb-controls">
                <div class="btn-group extended">
                    <span class="btn btn-sm btn-primary">
                        4.5 <i class="fa fa-star"></i>
                    </span>
                    <button class="btn btn-sm btn-outline-primary extended">
                        Warenkorb
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </button>

                </div>
            </div>

            <div class="thumb-controls">
                <button class="btn btn-sm btn-outline-primary btn-block">
                    Warenkorb
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
            </div>

            <div class="thumb-controls">

                <div class="input-group extended">
                    <div class="input-group-btn extended">
                        <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Farbe
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Rot</a>
                            <a class="dropdown-item" href="#">Grün</a>
                            <a class="dropdown-item" href="#">Blau</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Schwarz</a>
                        </div>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="thumb-extras">
                <!-- <span class="saving hover-only">
                -20 %
                <span itemprop="currency" content="EUR">€</span>
            </span>
            -->
            <!-- <span class="availability tag tag-success">Sofort lieferbar</span>
        -->
            </div>

        </div>

    </div>
</div>