<div class="col-xs-6 col-lg-4 m-b-1">
    <div class="product-thumb">
        
        <div class="image-container">
            <div class="square-container">
                <div class="square-inner center-xy main-image">
                    <img class="img-fluid" src="https://placekitten.com/300/300" alt="Artikel" />
                </div>
            </div>

            <div class="special-tags tl v">
                
                <span class="special-tag bg-success">
                    <i class="fa fa-star"></i>
                </span>

                <span class="special-tag bg-danger">
                    <i class="fa fa-star"></i>
                </span>

                <span class="special-tag bg-primary">
                    <i class="fa fa-star"></i>
                </span>
            
            </div>
        </div>

        <div class="product-thumb-content">
                
            <span class="item-name small">
                C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
            </span>
            
            <div class="product-thumb-meta">
                <div class="left">
                    <del class="crossprice">
                        30,00
                        <span itemprop="currency" content="EUR">€</span>
                    </del>

                    <span class="price h5">
                        24,00
                        <span itemprop="currency" content="EUR">€</span>
                    </span>
                </div>
                <div class="right">
                    <button class="btn btn-primary btn-block hover-only">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Warenkorb
                    </button>
                </div>
            </div>
            
            <p class="hover-only">Merkmal A, Merkmal B</p>
            
            <!-- <span class="saving hover-only">
                -20 %
                <span itemprop="currency" content="EUR">€</span>
            </span> -->

            <div class="rating pull-xs-right hover-only">
                <span class="tag tag-pill tag-success">
                    <i class="fa fa-star"></i> 
                    4.5 
                    <span class="amount">357</span> 
                </span>
            </div>

            <span class="availability tag tag-success hover-only">Sofort lieferbar</span>

            <div>
                
            </div>

        </div>
        
    </div>
</div>