---
layout: default
---


<div class="categorielist container">
  <!-- fullsize image -->
    <div class="row">
        <!-- leftSide start -->
        <div class="col-lg-4">
          <img class="img-fluid" src="https://placekitten.com/200/200" alt="Artikel" />
          <span class="price">
              24,00
            <span itemprop="currency" content="EUR">€</span>
          </span>
        </div>

        <div class="col-lg-4">
          <img class="img-fluid" src="https://placekitten.com/200/200" alt="Artikel" />
          <span class="price">
              24,00
            <span itemprop="currency" content="EUR">€</span>
          </span>
        </div>

         <div class="col-lg-4">
          <img class="img-fluid" src="https://placekitten.com/200/200" alt="Artikel" />
          <span class="price">
              24,00
            <span itemprop="currency" content="EUR">€</span>
          </span>
        </div>

    </div>
    <!-- row end -->
</div>
<!-- categorielist end -->