<div class="flex-container m-b-3 hidden-md-down">
  <div class="flex-item">  
    <div class="form-inline">
        <label for="SelectPerPage">Sortierung
        <select class="form-control" id="SelectPerPage">
          <option>---</option>
          <option>Preis: Aufsteigend</option>
          <option>Preis: Absteigend</option>
          <option>A bis Z</option>
          <option>Z bis A</option>
          <option>A bis Z</option>
          <option>Auf Lager</option>
          <option>Neu eingetroffen</option>
          <option>Bewertung</option>
        </select>
      </label>
    </div>
  </div>

  <div class="flex-item">  
    <div class="form-inline"> 
        <label for="SelectPerPage">Artikel pro Seite
        <select class="form-control" id="SelectPerPage">
          <option>6</option>
          <option>12</option>
          <option>24</option>          
        </select>
      </label>
    </div>
  </div>
  
  <div class="flex-item">  
    <ul class="list-inline">
    <li id="grid">
      <a rel="nofollow" href="#" title="Kacheln">
        <i class="fa fa-th"></i>
      </a>
    </li>
    <li id="list" class="selected">
      <a rel="nofollow" href="#" title="Liste">
        <i class="fa fa-th-list"></i>
      </a>
    </li>
  </ul>
  </div>  
</div>  