<div class="row">
    <div class="col-xs-6">
        <div class="input-unit">
            <select class="custom-select" id="SelectPerPage">
                <option>Preis: Aufsteigend</option>
                <option>Preis: Absteigend</option>
                <option>A bis Z</option>
                <option>Z bis A</option>
                <option>A bis Z</option>
                <option>Auf Lager</option>
                <option>Neu eingetroffen</option>
                <option>Bewertung</option>
            </select>
            <label for="SelectPerPage">
                Sortierung
            </label>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="input-unit">
            <select class="custom-select" id="SelectPerPage">
                <option>20</option>
                <option>40</option>
                <option>60</option>
                <option>Alle</option>
            </select>
            <label for="SelectPerPage">
                Artikel pro Seite
            </label>
        </div>
    </div>
</div>




