<div class="container hidden-md-down">
  <div class="row">
    <div class="col-md-3">
      <a href="#">
      <img src="https://placekitten.com/125/125" alt="subkateogrie" />
      <span>Subkategorie</span></a>
    </div>
    <div class="col-md-3">
      <a href="#">
      <img src="https://placekitten.com/125/125" alt="subkateogrie" />
      <span>Subkategorie</span></a>    
    </div>
    <div class="col-md-3">
      <a href="#">
      <img src="https://placekitten.com/125/125" alt="subkateogrie" />
      <span>Subkategorie</span></a>
    </div>
    <div class="col-md-3">
      <a href="#">
      <img src="https://placekitten.com/125/125" alt="subkateogrie" />
      <span>Subkategorie</span></a>
    </div>
</div>
</div>  