<div class="cmp cmp-method-list m-b-3">
    <ul class="method-list">
        <li class="method-list-item" data-id="7">
            <input id="ShippingProfileID_7" type="radio" name="ShippingProfileID" value="7">
            <label for="ShippingProfileID_7">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">Hermes</div>
            </label>
        </li><!--
        --><li class="method-list-item" data-id="6">
            <input id="ShippingProfileID_6" type="radio" name="ShippingProfileID" value="6" checked>
            <label for="ShippingProfileID_6">
                <div class="icon">
                    <img src="https://placekitten.com/g/60/60">
                </div><!--
                --><div class="content">DHL</div>
            </label>
        </li>
    </ul>
</div>