<div class="cmp cmp-shipping-profiles m-b-3">
    <header class="m-b-1">
        <h3>Versandart</h3>
    </header>
    
    <ul class="panel-list">
        <li class="panel-list-item" data-id="7">
            <input id="ShippingProfileID_7" type="radio" name="ShippingProfileID" value="7">
            <label for="ShippingProfileID_7">Hermes</label>
        </li><!--
        --><li class="panel-list-item" data-id="6">
            <input id="ShippingProfileID_6" type="radio" name="ShippingProfileID" value="6" checked>
            <label for="ShippingProfileID_6">DHL</label>
        </li>
    </ul>
</div>