<div class="cmp cmp-address-list m-b-3">
    
    <div class="dropdown items">
        
        <div id="{{include.id}}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="item-inner">
                    <div>
                        <strong>Firma buyer</strong>
                    </div>
                    <div>Kurze Straße 3002</div>
                    <div>12345 Ortschaft, Deutschland</div>
                </div>
        </div>
        
        <div class="dropdown-menu" aria-labelledby="{{include.id}}">
            <ul>
                <li class="item">
                    <input type="radio" id="shippingAddressID" name="shippingAddressID" checked>
                    <label for="shippingAddressID" class="item-inner">
                        <span class="item-content small">
                            <strong>Firma buyer</strong>
                            <span>Kurze Straße 3002</span>
                            <span>12345 Ortschaft, Deutschland</span>
                        </span><!--
                        --><span class="item-edit">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                    </label>
                </li>
                <li class="item">
                    <input id="shippingAddress_60" type="radio" name="shippingAddressID" value="60">
                    <label for="shippingAddress_60" class="item-inner">
                        <span class="item-content small">
                            <strong>Frau Vorname Nachname</strong>
                            <span>Goethestrasse, 92</span>
                            <span>34119 Kassel</span>
                            <span>Deutschland</span>
                            <span>Deutschland</span>
                        </span><!--
                        --><span class="item-edit">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                    </label>
                </li>
                <li class="item">
                    <input id="shippingAddress_61" type="radio" name="shippingAddressID" value="61">
                    <label for="shippingAddress_61" class="item-inner">
                        <span class="item-content small">
                            <strong>Frau Vorname Nachname</strong>
                            <span>Straße, Hausnr., Zusatz</span>
                            <span>Postleitzhal Ortschaft</span>
                            <span>Deutschland</span>
                            <span>Deutschland</span>
                            <span>Deutschland</span>
                        </span><!--
                    --><span class="item-edit">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div><!--
    --><div class="add-item">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </div>

    
</div>
