<div class="cmp cmp-address-list m-b-3">
    <div class="add-item">
        Add Item
    </div>
    <div class="items">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">
                <input type="radio" id="shippingAddressID" name="shippingAddressID" checked>
                <label for="shippingAddressID">
                    <span class="item-edit">
                        edit me
                    </span>
                    <span class="item-content small">
                        <strong>Firma buyer</strong>
                        <span>Kurze Straße 3002</span>
                        <span>12345 Ortschaft</span>
                        <span>Deutschland</span>
                    </span>
                    
                </label>
            </li>
            <li class="list-group-item list-group-item-action">
                <input id="shippingAddress_60" type="radio" name="shippingAddressID" value="60">
                <label for="shippingAddress_60">
                    <span class="item-edit">
                        edit me
                    </span>
                    <span class="item-content small">
                        <strong>Frau Vorname Nachname</strong>
                        <span>Goethestrasse, 92</span>
                        <span>34119 Kassel</span>
                        <span>Deutschland</span>
                        <span>Deutschland</span>
                    </span>
                    
                </label>
            </li>
            <li class="list-group-item list-group-item-action">
                <input id="shippingAddress_61" type="radio" name="shippingAddressID" value="61">
                <label for="shippingAddress_61">
                    <span class="item-edit">
                        edit me
                    </span>
                    <span class="item-content small">
                        <strong>Frau Vorname Nachname</strong>
                        <span>Straße, Hausnr., Zusatz</span>
                        <span>Postleitzhal Ortschaft</span>
                        <span>Deutschland</span>
                        <span>Deutschland</span>
                        <span>Deutschland</span>
                    </span>
                    
                </label>
            </li>
        </ul>
        
    </div>
    
</div>
