// Glyphicons font path
// $icon-font-path:        "../../../../layout/fonts/";

// // Grid settings
// $main-sm-columns:       12;
// $sidebar-sm-columns:    4;

// TODO: DELETE ABOVE CODE ************************************************

// a flag to toggle asset pipeline / compass integration
// defaults to true if twbs-font-path function is present (no function => twbs-font-path('') parsed as string == right side)
// in Sass 3.3 this can be improved with: function-exists(twbs-font-path)
// $bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;
//
// Variables
// --------------------------------------------------


// Flags settings
$flag-icon-css-path: '../images/flags';
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;

/*!
 * VARIABLES START HERE
 * Overwriting bootstrap values.
 * 
 */

$font-size:			10px;
$main-max-width:	128rem;
$easing:			cubic-bezier(0.37, 0.03, 0.55, 0.99);

$sitepad_xs: 		1em;
$sitepad_sm: 		1.5em;
$sitepad_md: 		2em;
$sitepad_lg: 		3em;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.


$gray-darker:            #333333 !default;
$gray-dark:              #555555 !default;
$gray:                   #999999 !default;
$gray-light:             #e0e0e0 !default;
$gray-lighter:           #f2f2f2 !default;

$brand-primary:         #008ebd !default;
$brand-secondary: 		#d4021d !default;

$brand-success:         #7ED321 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               white !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  	'Open Sans', Helvetica, Arial, sans-serif !default;
$font-family-helvetica: 	$font-family-sans-serif; 
$font-family-serif:       	Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:     Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-base:          1.4rem !default;
$font-size-lg:            ceil(($font-size-base * 1.25)) !default; // ~16px
$font-size-large: $font-size-lg;
$font-size-sm:            ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-small: $font-size-sm;

$font-size-h1:            2.4rem !default; // ~24px
$font-size-h2:            2.1rem !default; // ~21px
$font-size-h3:            1.8rem !default; // ~18px
$font-size-h4:            1.6rem !default; // ~16px
$font-size-h5:            1rem !default;
$font-size-h6:            .8rem !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.4;
$headings-color:          inherit !default;


//-- Iconography
//
//## Specify custom locations of the include Glyphicons icon font. Useful for those including Bootstrap via Bower.


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

//== Type
//
//##

//** Text muted color
$text-muted:                  $gray-light !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light !default;
//** Headings small color
$headings-small-color:        $gray-light !default;
//** Blockquote small color
$blockquote-small-color:      $gray-light !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;
//** Blockquote border color
$blockquote-border-color:     $gray-lighter !default;
//** Page header border color
$page-header-border-color:    $gray-lighter !default;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

$border-radius-base:        0px !default;
$border-radius-large:       5px !default;
$border-radius-small:       2px !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;

//== Labels
//
//##

//** Default label background color
$label-default-bg:            $gray-light !default;
//** Primary label background color
$label-primary-bg:            $brand-primary !default;
//** Success label background color
$label-success-bg:            $brand-success !default;
//** Info label background color
$label-info-bg:               $brand-info !default;
//** Warning label background color
$label-warning-bg:            $brand-warning !default;
//** Danger label background color
$label-danger-bg:             $brand-danger !default;

//** Default label text color
$label-color:                 #fff !default;
//** Default text color of a linked label
$label-link-hover-color:      #fff !default;



/*=== TODO : TEMP VARIABLES ===*/

// $primary-color:#47bac1;
// $primary-color-light:#4dc8cf;
// $primary-color-lightess:#92d5d9;
// $primary-color-lighter: #47aeb5;
$secondary-color:#252525;


$text-color:$secondary-color;
$text-light:#acacac;
$text-light-two:#bcbcbc;
$text-light-three: #b4b4b4;
$text-gray: #888888;
$text-dark: #313131;

$text-link: #d9d9d9;
$text-link-two: #acacac;
$text-field-text: #999999;

$text-title-light: #5f5f5f;
$text-slider-title:#797979;
$text-slider-subtitle:#704664;
$text-product-price:#c5c5c5;
$text-breadcrumb:#969696;
$text-shadow: #dadada;
$text-dark: #333333;
$text-title: #c9c9c9;
$white-color: #ffffff;
$white-color-2: #fffefe;
$white-color-3: #e6e6e6;
$light-color: #f0f0f0;
$border-light: #e4e4e4;
$border-lighter: #ececec;
$border-blues: #ace0e3;
$border-gray: #d0d0d0;
$border-gray-lighter: #dedede;
$border-gray-light:#bfbfbf;
$border-sky-light:#ace0e3;
$btn-bg:#f8f8f8;

$facebook-color:#46639f;
$google-plus-color:#d6513e;
$twitter-color:#0084b4;
$dribbble-color:#c73b6f;
$tumblr-color:#36465d;

$dark-bg:#282828;

$padding: 10px;
$margin: 10px;
