<article class="cmp cmp-order-item m-b-3 small">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <strong class="col-xs-6 col-sm-5">Auftrags ID:</strong>
                <span class="col-xs-6 col-sm-7">1234567</span>
            </div>
            <div class="row">
                <strong class="col-xs-6 col-sm-5">Kunden ID:</strong>
                <span class="col-xs-6 col-sm-7">55</span>
            </div>
            <div class="row">
                <strong class="col-xs-6 col-sm-5">Auftragsdatum:</strong>
                <span class="col-xs-6 col-sm-7">03.08.2016</span>
            </div>
            <div class="row">
                <strong class="col-xs-6 col-sm-5">Zahlungseingang:</strong>
                <span class="col-xs-6 col-sm-7"> Kein Zahlungseingang </span>
            </div>
            <div class="row">
                <strong class="col-xs-6 col-sm-5">Status:</strong>
                <span class="col-xs-6 col-sm-7">[8] Storniert</span>
            </div>
            <div class="row">
                <strong class="col-xs-6 col-sm-5">Versand:</strong>
                <span class="col-xs-6 col-sm-7">Noch nicht versendet</span>
            </div>
        </div>
    </div>
    
</article>