<article class="cmp cmp-basket-item m-b-2">
	<div class="confirm-header-article m-b-1">
    	<div class="item-name">
		C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
		</div>
    </div>

	<ul class="flex-container col-md-12">
	  <li class="flex-item">
		<img src="http://placekitten.com/g/80/80">
	  </li>
	  <li class="flex-item">
	  	<div class="flex-item-head">Merkmale</div>
	  	<div class="item-description">
			<p>
				Grün, Kunststoff, verpackt
			</p>
		</div>
	  </li>
	  <li class="flex-item">
	  	<div class="flex-item-head">Art. ID </div>
		<p class="id">525244343354151-{{include:id}}</p>
	  </li>
	  <li class="flex-item">
	  	<div class="flex-item-head">Stückpreis </div>	
	  	<div class="item-unit-price">
		5,00 €
		</div>
	  </li>
	  <li class="flex-item">
	  	<div class="flex-item-head">Anzahl</div>
	  	<div class="item-quantity">
		2
		</div>
	  </li>
	  <li class="flex-item">
	  	<div class="flex-item-head">Gesamtpreis</div>
	  	<div class="item-total-price">
		10,00 €
		</div>
	  </li>
	</ul>
</article>