<div class="cmp cmp-address-list m-b-3">    
              <ul>
                  <li class="item">
                      <input type="radio" id="shippingAddressID" name="shippingAddressID" checked="">
                      <label for="shippingAddressID" class="item-inner">
                          <span class="item-content small">
                              <strong>Vorname Nachname</strong>
                              <span>Kurze Straße 3002</span>
                              <span>12345 Ortschaft</span>
                              <span>Deutschland</span>
                          </span>
                          <span class="item-edit">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          </span>
                      </label>
                  </li>               
              </ul>
      </div>