<div class="component component-basket-preview-list">
	<article class="item" data-variation-widget="" data-id="178" data-variationid="16503" data-quantity="1" data-basketurl="https://shop.seeberger.de/trockenfruechte/trockenfruechte/datteln-entsteint/a-178/" data-basketdescription="<p> <strong>Entsteinte Datteln, getrocknet, ungeschwefelt, ohne Zusatz von Konservierungsstoffen</strong> 
	</p>">
		<div class="product-counter">
			<div class="widget-quantity static">
				<span class="cmd-increase" data-target="sbg_basketPreviewItem_16503"></span>
				<input type="text" id="sbg_basketPreviewItem_16503" class="quantity-input" value="1">
				<span class="cmd-decrease" data-target="sbg_basketPreviewItem_16503"></span>
			</div>
		</div>
		<a class="product-image" href="https://shop.seeberger.de/trockenfruechte/trockenfruechte/datteln-entsteint/a-178/" rel="nofollow">
			<img src="/documents/image/cache/17/178/2524507-Datteln-200g-RGB-1.png">
		</a>
		<div class="product-infos">
			<a class="name block" href="https://shop.seeberger.de/trockenfruechte/trockenfruechte/datteln-entsteint/a-178/">
				Datteln entsteint
			</a>
			<a class="item-info block" href="https://shop.seeberger.de/trockenfruechte/trockenfruechte/datteln-entsteint/a-178/" rel="nofollow">
				2,39 € <sup>*</sup>
				/ 200 g
			</a>
			<a class="item-total block" href="https://shop.seeberger.de/trockenfruechte/trockenfruechte/datteln-entsteint/a-178/" rel="nofollow">
				<span class="item-total-price">
					2,39 € <sup>*</sup>
				</span>
			</a>
			<a class="item-remove" data-remove-item="" title="Entfernen">
				<i class="ic-times"></i>
			</a>
		</div>
	</article>
</div>