<div class="flex-container hidden-md-down">
    
    <div class="flex-item product-count">
        Zeige 1 - 6 von XX Artikeln
    </div>

    <div class="flex-item pagination_top">
        
        <nav aria-label="Page navigation">
            <ul class="pagination m-y-0">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anfang</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                        <span class="sr-only">Zurück</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&rsaquo;</span>
                        <span class="sr-only">Weiter</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Weiter</span>
                    </a>
                </li>
            </ul>
        </nav>


    </div>
</div>


