.product-thumb{
    border: 1px solid $gray-lighter;
    
    .square-container{
        border-bottom: 1px solid $gray-lighter;
    }

    .product-thumb-content{
        padding: 1rem;
    }

    .item-name{
        display: block;
        position: relative;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        text-tarnsform: uppercase;
        max-height: 3em;
        margin-bottom: .7rem;

        &:after {
            content: "…";
            display: inline-block;
            height: 50%;
            position: absolute;
            right: .25em;
            top: 1.5em;
            background-color: #fff;
        }
    }

    .hover-only{
        opacity: 0;
        transition: all 300ms;
    }

    &:hover{
        .hover-only{
            opacity: 1;
        }
    }


}

.product-list-rows{

    //specific styles for rows layout
    .product-thumb{
        
    }
}
