.cmp-product-thumb{
    
    overflow: visible;

    @extend .m-b-1;

    .thumb-inner{
        position: relative;
        border: 1px solid $gray-lighter;
        transition: all 400ms;
    }
    
    .thumb-image{
        position: relative;
    }
    
    //TODO create separate mixin
    .special-tags{
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;

        padding: 1rem;
        display: flex;
        
        &.tl{
            
        }

        &.tr{
            top: 0;
            right: 0;
            left: auto;
        }

        &.bl{
            top: auto;
            right: auto;
            bottom: 0;
            left: 0;
        }

        &.br{
            top: auto;
            right: 0;
            bottom: 0;
            left: auto;   
        }

        &.v{
            flex-direction: column;

            .special-tag{
                margin-bottom: .5rem;
            } 
        }

        &.h{
            .special-tag{
                display: inline-block;
                margin-right: 0;
            } 
        }

        .special-tag{
            line-height: 1;
            width: 3em;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
            
            &:last-child{
                margin: 0!important;
            }
        }
    }

    .square-container{
        border-bottom: 1px solid $gray-lighter;
    }

    .thumb-content{
        padding: 1rem;
    }

    .thumb-title{
        display: block;
        position: relative;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        text-tarnsform: uppercase;
        max-height: 3em;

        &:after {
            content: "…";
            display: inline-block;
            height: 50%;
            position: absolute;
            right: .25em;
            top: 1.5em;
            background-color: #fff;
        }
    }

    .crossprice{
        line-height: 1;
        font-size: .8em;
        font-weight: 700;
        color: $gray-light;
    }

    .price {
        color: $gray;
        line-height: 1.1;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .thumb-meta{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;

        .prices{
            display: flex;
            flex-flow: row nowrap;
            margin-top: .5rem;
        }
    }
    
    .thumb-controls{
        margin-top: .5rem;
    }

    &:hover{
        
        .thumb-inner{
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        }

    }


}

#listViewToggle ~ .product-list{

    .cmp-product-thumb{
        @include make-col-ready(6);
        @include make-col(6);

        @include media-breakpoint-up(sm){
        
        }

        @include media-breakpoint-up(md){

            @include make-col-ready(4);
            @include make-col(4);
            
        }

        @include media-breakpoint-up(lg){
            
        }
    }
}

#listViewToggle:checked ~ .product-list{

    //specific styles for rows layout
    .cmp-product-thumb{
        @include make-col-ready(12);
        @include make-col(12);

        .thumb-inner{
            display: flex;
            flex-flow: row nowrap;
        }

        .special-tags{
            // position: relative;
            // order: 1;

            padding: 1rem;
            display: flex;

            .special-tag{
                line-height: 1;
                width: 3em;
                height: 3em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
                
                &:last-child{
                    margin: 0!important;
                }
            }
        }

        .thumb-image{
            flex: 1 0 200px;
            order: 2
        }

        .thumb-content{
            order: 3;

            display: flex;
            flex-flow: column nowrap;
        }

        .thumb-title{
            order: 1;
        }

        .thumb-meta{
            order:2;
        }

        .thumb-controls{
            order: 3;
            align-self: flex-end;
        }

        .thumb-extras{
            order: 4;
            flex: 1 0 auto;
        }


        
    }

}

