<!-- ShippingAddress -->
<div class="cmp cmp-shipping-address m-b-3">
    <header class="m-b-1">
        <h3>
            Lieferadresse
        </h3>
        <a class="cmd-edit">
            bearbeiten
            <span class="ic-edit"></span>
        </a>
    </header><!-- /header -->
    <form>
        <div class="response">
            <!-- form validation response -->
        </div>
        <div class="addresses-list">
            
            <ul class="panel-list">
                <li class="panel-list-item">
                    <input type="radio" id="shippingAddressID" name="shippingAddressID" checked>
                    <label for="shippingAddressID" class="address-select">
                        <div class="content">
                            <div>Firma buyer frontend</div>
                            <div>Kurze Straße 3002</div>
                            <div>12345 Ortschaft</div>
                            <div>Deutschland</div>
                        </div>
                    </label>
                </li><!--
                --><li class="panel-list-item">
                    <input id="shippingAddress_60" type="radio" name="shippingAddressID" value="60">
                    <label for="shippingAddress_60" class="address-select">
                        <div class="content">
                            <div>Frau Vorname Nachname</div>
                            <div>Goethestrasse, 92</div>
                            <div>34119 Kassel</div>
                            <div>Deutschland</div>
                        </div>
                    </label>
                </li><!--
                --><li class="panel-list-item">
                    <input id="shippingAddress_61" type="radio" name="shippingAddressID" value="61">
                    <label for="shippingAddress_61" class="address-select">
                        <div class="content">
                            <div>Frau Vorname Nachname</div>
                            <div>Straße, Hausnr.</div>
                            <div>Zusatz</div>
                            <div>Postleitzhal Ortschaft</div>
                            <div>Deutschland</div>
                        </div>
                    </label>
                </li>
            </ul>

        </div>
    </form>
</div>
