<article class="cmp cmp-order-item">

    <div class="item-image">
        <img src="http://placekitten.com/g/80/80">
    </div>

    <div class="item-details small">

        <div class="item-name">
            <h5>Order ID 525244</h5>
        </div>

        <div class="row">
            <strong class="col-xs-6 col-sm-5">Auftragsdatum:</strong>
            <span class="col-xs-6 col-sm-7">03.08.2016</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">Empfänger:</strong>
            <span class="col-xs-6 col-sm-7">frontend-studios</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">Status:</strong>
            <span class="col-xs-6 col-sm-7">[8] Storniert</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-5">Versand:</strong>
            <span class="col-xs-6 col-sm-7">Noch nicht versendet</span>
        </div>
        
        <input type="checkbox" class="item-toggle toggle-description" id="itemid-{{include:id}}" value="">

        <div class="item-description">
            
            <ul class="list-unstyled m-y-1">
                <li>
                    C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
                </li>
                <li>
                    C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
                </li>
                <li>
                    C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
                </li>
                <li>
                    C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
                </li>
                <li>
                    C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
                </li>
                <li>
                    C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
                </li>
                <li>
                    C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
                </li>
            </ul>
        </div>
        <label class="expand-btn" for="itemid-{{include:id}}"></label>
    </div>
    
    
    
</article>