<div class="order m-b-3">
    <h3>Bestellnummer 12345</h3>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <span class="col-xs-6 col-sm-5">Auftragsdatum:</span>
                <span class="col-xs-6 col-sm-7">03.08.2016</span>
            </div>
            <div>
                <span class="col-xs-6 col-sm-5">Empfänger:</span>
                <span class="col-xs-6 col-sm-7">frontend-studios</span>
            </div>
            <div>
                <span class="col-xs-6 col-sm-5">Status:</span>
                <span class="col-xs-6 col-sm-7">[8] Storniert</span>
            </div>
            <div>
                <span class="col-xs-6 col-sm-5">Versand:</span>
                <span class="col-xs-6 col-sm-7">Noch nicht versendet</span>
            </div>
            <div>
                <span class="col-xs-12">
                    <a href="#">Details anzeigen</a>
                </span>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="col-xs-12 col-sm-8"> <strong>1x "Kleine Katze"</strong>
            </span>
            <img src="https://placekitten.com/140/140" alt="" class="col-xs-12 col-sm-4 orderimage img-fluid" />
        </div>
    </div>
</div>



<article class="cmp cmp-order-item">

    <div class="item-image">
        <img src="http://placekitten.com/g/120/120">
    </div>

    <div class="item-details small">
        <h4>Order ID 525244</h4>
        <div class="item-name">
            C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
        </div>
        <p class="id">Art. ID 525244343354151-{{include:id}}</p>

        
    </div>
    
    <div class="item-details">
        <div class="row">
            <span class="col-xs-6 col-sm-5">Auftragsdatum:</span>
            <span class="col-xs-6 col-sm-7">03.08.2016</span>
        </div>
        <div class="row">
            <span class="col-xs-6 col-sm-5">Empfänger:</span>
            <span class="col-xs-6 col-sm-7">frontend-studios</span>
        </div>
        <div class="row">
            <span class="col-xs-6 col-sm-5">Status:</span>
            <span class="col-xs-6 col-sm-7">[8] Storniert</span>
        </div>
        <div class="row">
            <span class="col-xs-6 col-sm-5">Versand:</span>
            <span class="col-xs-6 col-sm-7">Noch nicht versendet</span>
        </div>
    </div>

</article>