.btn {
	background: none;
	text-align: center;
	text-shadow: none;
	height:auto;
	padding:.8em 1em;
	font-weight:bold;
	font-size:1em;
	&>.glyphicon {
		font-weight: normal;
		&:before {
			text-shadow: none !important;
			font-size: 1em;
		}
	}
	&+.btn {
		margin-left: 0;
	}
	&.onlyIcon {
		font-size: .75em;
		padding: .5em 1em;
	}

	&.btn-default {
		@include button-base($color: white, $background: $brand-primary, $outline: white, $size: "xs", $border-width: 1px);
		background-color: transparent;
		background-image:none;
		text-shadow: none;

		&:hover,
		&:active {
			border: 1px solid white;
			color: $gray-darker;
			background:white;
		}

		&.inverse {
			@include button-base($color: $gray-darker, $background: white, $outline: $brand-primary, $size: "xs", $border-width: 1px);
			font-weight: bold;
			&:hover {
				background:$brand-primary;
			}
		}
	}

	&.btn-primary {
		@include button-base($color: white, $background: $brand-primary, $outline: white, $size: "lg", $border-width: 1px);
		text-shadow: none;

		&.inverse {
			@include button-base($color: $gray-darker, $background: white, $outline: $brand-primary, $size: "lg", $border-width: 1px);
			&:hover {
				background:$brand-primary;
			}
		}
	}
	&.btn-secondary {
		@include button-base($color: white, $background: $brand-secondary, $outline: white, $size: "lg", $border-width: 1px);
		background-image:none;
	}

}

// @include breakpoint(tablet_portrait){
// 	.btn {
// 		&.btn-primary {
// 			font-size: 1.2em;
// 			padding-top: 1em;

// 			&.inverse {
// 				font-size: 1.2em;
// 				padding-top: 1em;				
// 			}
// 		}
// 		&.onlyIcon {
// 			height: initial;
// 			font-size: 0.9em;
//     		padding: .4em 0;
// 		}

// 	}
// }

// @include breakpoint(tablet_and_more){
// 	.btn {
// 		&.btn-primary {
// 	      	font-size: 1.5em;
//         	padding: .7em 0;

// 			&.inverse { 
// 				font-size: 1.5em;
//         		padding: .7em 0;
//         	}
// 		}
// 		&.onlyIcon {
// 			height: initial;
//     		font-size: 0.9em;
//     		padding: .4em 0;
// 		}
// 	}
// }