.label.label-primary {background:$label-primary-bg;}
.label.label-primary {background:$label-primary-bg;}
.label.label-success {background:$label-success-bg;}
.label.label-info {background:$label-info-bg;}
.label.label-warning {background:$label-warning-bg;}
.label.label-danger {background:$label-danger-bg;}

.label {
	border-radius:0;
	font-size: .8em;
	padding: .2em .5em .2em;
}