.navbar-default {
	border: 0;
	color: $gray-darker;
	padding: 0;
	.nav-main-container {
		overflow:visible !important;
	}
	.navbar-header {
		display: inline-block;
		padding-left:11px;
		.navbar-brand {
		    display: inline-block;
		    height: 70px;
		    margin: 0;
		    max-width: initial;
		    padding: 15px 0;

			a {
				color: inherit;
				display: inline-block;
				height: 100%;

				img {
					height: 100%;
					width: auto;
				}
			}
		}
	}
	.mainNavigation {
		text-transform: uppercase;
		.navbar-nav {
			li {
				border-bottom:1px solid $gray-lighter;
				a {
					font-weight: bold;
					color: inherit;
					border:0;
					transition: none;
				}
				&:hover {
					background:$brand-primary;
					box-shadow:none;
					text-shadow: none;
					a {
						color: white;
						box-shadow:none;
						text-shadow: none;
						border:0;
					}
				}
			}
			.cat-welcome {
				margin-bottom: 1em;
				padding-bottom:1em;
				border-bottom:1px solid $gray-lighter;
				a {
					img {
						max-width: 150px;
					}
				}
			}
		}
	}
	.navbar-information {
		display: block;
		height: 70px;
		float: right;

		>ul {
			height: 100%;

			>li {
				height: 100%;
				padding: 7px 0;

				>a{
					border: 0;
					color: inherit;
					padding: 1rem .75rem;
					text-transform: uppercase;
					font-weight: bold;
					.glyphicon { margin-left:.3em; }
					&:hover {
						background:$brand-primary;
						color: white;
						.glyphicon:before {
							color: white;
						}
						.caret {
							border-color: #fff transparent;
						}
						
					}
				}
				&.li-open {
					
					
					&>a {
						box-shadow:none !important;
						background:$brand-primary;
						color: white;
						&:before {
							display: none !important;
						}
						
					}
				}
				.dropdown-menu {
					>li {
						>a {
							border:0;
							&:hover {
								border:0;
								color: white;
								background:$brand-primary;
								border-radius:0;
							}
						}
						.basketPreviewContainer {
							.btn {
								font-size: .9em;
							}
							.btn-primary {
								color: white;
								&:hover {
									color: $brand-primary;
								}
								&.inverse {
									color: $gray-dark;
									&:hover {
										color: white;
									}
								}
							}
						}
					}
				}
			}
		}
		.isLogin {
			button.btn {
				padding: 5px 10px;
				font-size: 1.5rem;
			    display: inline-block;
			    height: auto;
			}
		}
	}

	.navbar-toggle {	
	    background-color: white;
	    border-color: $brand-primary;
	    left: 0;
		position: fixed;
	    top: 80%;
	    transform: translateX(-50%);
	    z-index: 10001;

	    .icon-bar {
	    	background-color: $brand-primary;
	    }
	}
}

body.aside-visible{
	.navbar-toggle { display: none; }
}

@include breakpoint(tablet_and_more){
	.navbar-default {
		z-index:99;
		.navbar-header {		
			.navbar-brand {
				max-width: 150px;

				a { color: inherit; }
			}
		}
		.navbar-information { 
			
			float:right;
			>ul{
				position:relative;
				top: 50%;
				transform: translateY(-50%);
				height: auto;
				z-index: 99999;
				>li{
					a { color: inherit; }
				}
			}
		}
		.mainNavigation { 
			display: block;
			height: 40px;
			background-color: $gray-lighter;
			width: 100%;
			.nav{
				&:after{
					background: none;
				}
			}
			>ul {
				position:relative;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				display: block;
				li{
					border-bottom:0 !important;
					a{
						color: inherit;
						text-transform: uppercase;
						&:after {
							background: none;
						}
					}
				}
				.pull-right {
					display: block;
					width: auto;
					float: right;
					li {
						display: block;
						float: left;
						a {
							padding: 9px 17px 7px;
							display: block;
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}
@include breakpoint(super_large){
	.navbar-default {
		.navbar-header {
			padding-left:0;
		}
		.navbar-information{
			ul {
				li:last-child {
					&>a {
						padding-right:17px; 
					}
				}
			}
		}
	}
}