$steps : ($grid-columns * 2);

@function make_sqr($size) {
	@return $size * 100 / $grid-columns;
}

*[class^="msqr-"] {
	height: 0;
	padding-top: 0;
	position: relative;

	&::after {
		content: "";
		display: table;
		bottom:0;
		left:0;
		position: absolute;
		right: 0;
		top:0;		
	}
}

@mixin msqr($br){
	@for $i from 1 through $steps {
		.msqr-#{$br}-#{$i} { padding-bottom : make_sqr($i) * 1% !important; }
	}
}

@include breakpoint(phones_portrait){
	.msqr-xs-reset { 
		height: auto;
		padding: 0; 

		.wrapper {
			left: initial !important;
			margin: 0 auto !important;
			position: relative !important;
			transform: translateY(0) !important;
		}
	}
}
@include msqr(xs);
@include breakpoint(phones_landscape){ @include msqr(sm); }
@include breakpoint(tablet_portrait) { @include msqr(md); }
@include breakpoint(tablet_and_more) { @include msqr(lg); }
