.img-responsiv {
    width:100%; 
    height:auto;
}


.flex {
    display: flex;
    display: webkit-flex;
}

.flex-row {
    flex-flow: row nowrap;
}


.flex-w-50 {
    flex: 1 0 50%;
}


.flex-column {
        flex-flow: column nowrap;
        display: flex;
        img {        
            width: 100%;
            }
        }


.overlay-banner {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.overlay-banner-content {
    background: rgba(255,255,255,.5);
    width: 100%;
    height: 4rem;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    a {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
    }
}


.totop {
    width: 100%;
    height: 4rem;
    background-color: #4D4F4D;
    color: #fff;
    text-align: center;
    padding: .5rem .5rem;
    opacity:1;
        &:hover {
            background-color: #b2b1a7;
        }
}
.totophover {
    &:hover {
        text-decoration:none;
    }
}



.product-thumb-home{
    
    @include make-col-ready(3);
    @include make-col(3);

    .thumb-inner{
        position: relative;
        border: 1px solid $gray-lighter;
        transition: all 400ms;
    }
    
    .thumb-image{
        position: relative;
    }
    
    //TODO create separate mixin
    .special-tags{
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;

        padding: 1rem;
        display: flex;
        
        &.tl{
            
        }

        &.tr{
            top: 0;
            right: 0;
            left: auto;
        }

        &.bl{
            top: auto;
            right: auto;
            bottom: 0;
            left: 0;
        }

        &.br{
            top: auto;
            right: 0;
            bottom: 0;
            left: auto;   
        }

        &.v{
            flex-direction: column;

            .special-tag{
                margin-bottom: .5rem;
            } 
        }

        &.h{
            .special-tag{
                display: inline-block;
                margin-right: 0;
            } 
        }

        .special-tag{
            line-height: 1;
            width: 3em;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
            
            &:last-child{
                margin: 0!important;
            }
        }
    }

    .square-container{
        border-bottom: 1px solid $gray-lighter;
    }

    .thumb-content{
        padding: .5rem;
    }

    .thumb-title{
        display: -webkit-box;
        text-overflow: ellipsis;
        max-height: 3em;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
        font-weight: 700;
        margin-bottom: .5rem;

        // display: block;
        // position: relative;
        // font-weight: 700;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // text-transform: uppercase;
        // max-height: 3em;
        // margin-bottom: .5rem;
    }

    .thumb-meta{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            margin-right: 1rem;
        }

        .crossprice{
            line-height: 1;
            font-size: .8em;
            font-weight: 700;
            color: $gray-light;
        }

    }

    &:hover{
        
        .thumb-inner{
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        }

    }

    @include media-breakpoint-down(sm){

        @include make-col(12);

    }

    @include media-breakpoint-up(md){

        @include make-col-ready(6);
        @include make-col(6);
        
    }

    @include media-breakpoint-up(lg){
        @include make-col-ready(3);
        @include make-col(3);

    }
}



@include media-breakpoint-up(md){        
    .sale {
       display: none;
    }
}

@include media-breakpoint-up(lg){
    .totop {
    display: none;
    }
}

@include media-breakpoint-down(md){        

    .flex-row{
        flex-flow: column nowrap;
    }

    .flex-column {
        flex-flow: row nowrap;
        display: flex;
        img {        
            width: 50%; 
            }
    }


    //List-View
    .product-thumb-home{
        @include make-col-ready(6);
        @include make-col(6);

        .thumb-inner{
            display: flex;
            flex-flow: row nowrap;
        }

        .special-tags{

            padding: 0rem;
            display: flex;

            .special-tag{
                line-height: 1;
                width: 2.5em;
                height: 2.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
                
                &:last-child{
                    margin: 0!important;
                }
            }
        }

        .thumb-image{
            flex: 1 0 90px;
            order: 2
        }

        .thumb-content{
            order: 3;
            padding:.5rem;
            display: flex;
            flex-flow: column nowrap;
        }

        .thumb-title{
            order: 1;
        }

        .thumb-meta{
            order:2;
        }

        .thumb-controls{
            order: 3;
            align-self: flex-end;
        }

        .thumb-extras{
            order: 4;
            flex: 1 0 auto;
        }      
    }

.overlay-banner-content {
    height: 2rem;    
    a {
        font-size: 1.25rem;
    }
}

}



@include media-breakpoint-down(sm){

    .product-thumb-home{
        @include make-col-ready(12);
        @include make-col(12);
}

    .sale {
        text-align: center;
        font-size: 2rem;
        color: #fff;
        text-transform: uppercase;
        display: block;
        background-color: red;
    }


    .flex-column {
        flex-flow: column nowrap;
        display: flex;
        img {        
            width: 100%;
            }
        }
}