<article class="cmp cmp-order-item">
    <a href="#" class="item-image">
        <img src="http://placekitten.com/g/120/120">
    </a>

    <div class="item-details small">
        <a class="clearfix" href="">
            <div class="item-name">
                C0855 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
            </div>
        </a>
        <!-- <strong class="item-name">
            C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
        </strong> -->
        <div class="row">
            <strong class="col-xs-6 col-sm-3">Stückpreis:</strong>
            <span class="col-xs-6 col-sm-9">5,00 €</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-3">Stückzahl:</strong>
            <span class="col-xs-6 col-sm-9">5</span>
        </div>
        <div class="row">
            <strong class="col-xs-6 col-sm-3">Gesamt:</strong>
            <strong class="col-xs-6 col-sm-9">25,00 €</strong>
        </div>
    </div>
</article>