<article class="cmp cmp-order-item">
    <div class="row">
        <div class="col-md-12 item-main">
            <div class="item-image">
                <img src="http://placekitten.com/g/120/120">
            </div>

            <div class="item-details small">
                <strong class="item-name">
                    C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
                </strong>
                <!-- <div class="row">
                    <strong class="col-xs-6 col-sm-5 text-muted">Art. ID:</strong>
                    <span class="col-xs-6 col-sm-7">525244343354151</span>
                </div> -->
                <div class="row">
                    <strong class="col-xs-6 col-sm-5 text-muted">Stückpreis:</strong>
                    <span class="col-xs-6 col-sm-7">5,00 €</span>
                </div>
                <div class="row">
                    <strong class="col-xs-6 col-sm-5 text-muted">Stückzahl:</strong>
                    <span class="col-xs-6 col-sm-7">5</span>
                </div>
                <div class="row">
                    <strong class="col-xs-6 col-sm-5 text-muted">Gesamt:</strong>
                    <strong class="col-xs-6 col-sm-7">25,00 €</strong>
                </div>
            </div>
        </div>
    </div>
    
</article>