<div class="cmp cmp-invoice-address m-b-3">
    <header class="m-b-1">
        <h3 class="card-title">
            Rechnungsanschrift
        </h3>
        <a class="cmd-edit">
            bearbeiten
            <span class="ic-edit"></span>
        </a>
    </header>
    <div class="card card-block">
        <strong>
            Zentral<br>buyer frontend
        </strong>
        <hr>
        <div>Kurze Straße 3002</div>
        <div>12345 Ortschaft</div>
        <div>Deutschland</div>
    </div>
</div>