.footertop{
	display: block;
	background-color: $gray-lighter;
 }


.footer{
	display: block;
	background-color: #171F24;

	.footerLink{
		@include mobile-xs{
			text-align: center;
			margin-bottom: 1rem;
		}
		@include mobile{
			text-align: center;
			margin-bottom: 1rem;
		}
		@include tablet{
			text-align: left;
			margin-bottom: 0;
		}
		h5{
			color: #FFF;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
		ul{
			li{
				color:#dcdbd8;
				font-size: $font-size-sm;
				line-height: 22px;
				a{
					color: #dcdbd8;
					&:hover{
						color: #7A7F7F;
					}
				}
			}
		}
		p {
		color:#dcdbd8;
		font-size: $font-size-sm;
		line-height: 22px;
		margin-bottom: 0;
			a{
			color: #dcdbd8;
				&:hover{
					color: #7A7F7F;
				}
			}
			i {
				width:15px;
			}
		}
	}


	.newsletter{
		h4, p{
			color: white;
			margin-bottom: .5rem;
		}

		p{
			@extend .small;
		}
	}

}

.copyright{	
	p{
		color: #dcdbd8;
		margin-bottom: 0;
		font-size: $font-size-sm;
		
		a {
			color:#dcdbd8;
			&:hover {
			color: #7A7F7F;
			}
		}	
	}

}


.footerLink {
	.shariff {
	.orientation-vertical {
		text-align: center;
	}
		ul {
			.shariff-button {
				a {
					background-color: #dcdbd8;
					color:#171F24;
					&:hover {					
						color:#fff;
						-moz-transition: opacity, 0.5s, ease;
						-o-transition: opacity, 0.5s, ease;
						-webkit-transition: opacity, 0.5s, ease;
						-ms-transition: opacity, 0.5s, ease;
						transition: opacity, 0.5s, ease;
					}
				}
			}
			.twitter {
				a {
					&:hover {
						background-color: #55acee;			
					}
				}
			}
			.facebook {
				a {
					&:hover {
						background-color: #3b5998;
					}
				}
			}
			.googleplus {
				a {
					&:hover {
						background-color: #d34836;
					}
				}
			}
			.pinterest {
				a {
					&:hover {
						background-color: #bd081c;
					}
				}
			}
		}
	}
}

.payment_line {
	div {
		-webkit-filter: grayscale(.9);
		filter: grayscale(.9);
		&:hover {
			-moz-transition: opacity, 0.5s, ease;
			-o-transition: opacity, 0.5s, ease;
			-webkit-transition: opacity, 0.5s, ease;
			-ms-transition: opacity, 0.5s, ease;
			transition: opacity, 0.5s, ease;
			-webkit-filter: grayscale(0);
			filter: grayscale(0);
		}		
	}
}

	.btn_mail {
    background-color: #7A7F7F;
    color: #FFF;  
    border:none;  
		&:hover {
		background-color: #b2b1a7;
	    border:none;
		}
		i {
	    padding: 0 1rem;
		}
	}

	.newsletter {
		.form-control {
			font-size: .8rem;
			padding: .65rem;
		}
	}


	@include media-breakpoint-up(sm){
		.shariff {
			.orientation-horizontal {
				li {
				margin-right: 1.8%;
				margin-bottom: 1.8%;
			    width: 80px;
			    flex: none;
					.fa {
				    width: 25px;
				    line-height: 30px;
				    text-align: center;
					}
				}
			}
		}
	}



	@include media-breakpoint-down(sm){	
			.shariff {
			.orientation-horizontal {
				li {
					width: 55px;
				}
			}
		}

		.payment_line .img-fluid {
		    margin: 0 auto;
		}
		// .border-left {
	 //    border-top: 1px solid #4D4F4D;
	 //    padding-top: 2rem;
		// }
	}
	

	@include media-breakpoint-down(md){
		.shariff {
	    width: 340px;
	    overflow: auto;
	    margin-top: 10px;
	    display: inline-block;
		}	
	
		// .newsletter  {
		// 	p {
		//     display: none;
		// 	}
		// }
	}
	
	@include media-breakpoint-up(lg){
	}