.footertop{
	display: block;
	background-color: $gray-lighter;
 }


.footer{
	display: block;
	background-color: #171F24;

	.footerLink{
		@include mobile-xs{
			text-align: center;
			margin-bottom: 1rem;
		}
		@include mobile{
			text-align: center;
			margin-bottom: 1rem;
		}
		@include tablet{
			text-align: left;
			margin-bottom: 0;
		}
		h5{
			color: #FFF;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
		ul{
			li{
				color:#dcdbd8;
				font-size: $font-size-sm;
				line-height: 20px;
				a{
					color: #dcdbd8;
					&:hover{
						color: #7A7F7F;
					}
				}
			}
		}
		p {
		color:#dcdbd8;
		font-size: $font-size-sm;
		line-height: 20px;
		margin-bottom: 0;
			a{
			color: #dcdbd8;
				&:hover{
					color: #7A7F7F;
				}
			}
			i {
				width:15px;
			}
		}
	}


	.newsletter{
		h4, p{
			color: white;
		}

		p{
			@extend .small;
		}
	}

}

.copyright{	
	p{
		color: #dcdbd8;
		margin-bottom: 0;
		font-size: $font-size-sm;
		
		a {
			color:#dcdbd8;
			&:hover {
			color: #7A7F7F;
			}
		}	
	}

}


.footerLink {
	.shariff {
	.orientation-vertical {
		text-align: center;
	}
		ul {
			.shariff-button {
				a {
					background-color: #dcdbd8;
					color:#171F24;
					&:hover {					
						color:#fff;
						-moz-transition: opacity, 0.5s, ease;
						-o-transition: opacity, 0.5s, ease;
						-webkit-transition: opacity, 0.5s, ease;
						-ms-transition: opacity, 0.5s, ease;
						transition: opacity, 0.5s, ease;
					}
				}
			}
			.twitter {
				a {
					&:hover {
						background-color: #55acee;			
					}
				}
			}
			.facebook {
				a {
					&:hover {
						background-color: #3b5998;
					}
				}
			}
			.googleplus {
				a {
					&:hover {
						background-color: #d34836;
					}
				}
			}
			.pinterest {
				a {
					&:hover {
						background-color: #bd081c;
					}
				}
			}
		}
	}
}

.payment_line {
	div {
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
		&:hover {
			-moz-transition: opacity, 0.5s, ease;
			-o-transition: opacity, 0.5s, ease;
			-webkit-transition: opacity, 0.5s, ease;
			-ms-transition: opacity, 0.5s, ease;
			transition: opacity, 0.5s, ease;
			-webkit-filter: grayscale(0);
			filter: grayscale(0);
		}
		a {
			img {
				margin-right: 15px;
			}
		}
	}
}

	@include media-breakpoint-up(sm){
		.shariff {
			.orientation-horizontal {
				li {
				margin-right: 1.8%;
				margin-bottom: 1.8%;
			    width: 70px;
			    flex: none;
					.fa {
				    width: 30px;
				    line-height: 30px;
				    text-align: center;
					}
				}
			}
		}
	}

	@include media-breakpoint-down(sm){	
			.shariff {
			.orientation-horizontal {
				li {
					width: 65px;
				}
			}
		}

	}
	

	@include media-breakpoint-up(md){	
	}
	
	@include media-breakpoint-up(lg){
	}

