<div class="footertop clearfix">
    <div class="container">
        <div class="row">
            <h3 class="text-xs-center">Zahlen Sie bequem per</h3>
            <div class="col-xs-12 text-xs-center">
                <img src="dist/images/de-pp-logo-100px.png" alt="PayPal"></div>
        </div>
        <hr>
        <div class="row">
            <h3 class="text-xs-center">Wir versenden mit</h3>
            <div class="col-xs-12 text-xs-center">
                <img src="dist/images/dhl-logo.png" alt="DHL"></div>
        </div>
    </div>
</div>

<div class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footerLink">
                    <h5>Einkaufen</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a>Zahlungsarten & -kosten</a>
                        </li>
                        <li>
                            <a>Widerrufsrecht</a>
                        </li>
                        <li>
                            <a>Warenkorb</a>
                        </li>
                        <li>
                            <a>Zur Kasse</a>
                        </li>
                        <li>
                            <a>Hilfe</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footerLink">
                    <h5>Mein Konto</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a>Registrieren</a>
                        </li>
                        <li>
                            <a>Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footerLink">
                    <h5>Unternehmen</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a>Kontakt</a>
                        </li>
                        <li>
                            <a>Datenchutzerklärung</a>
                        </li>
                        <li>
                            <a>AGB</a>
                        </li>
                        <li>
                            <a>Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="newsletter clearfix">
                    <h4>Newsletter</h4>
                    <p>E-Mail-Adresse eingeben</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
                        <a class="input-group-addon" id="basic-addon2">Senden</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="copyRight clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <p>© 2016 Copyright</p>
            </div>
            <div class="col-sm-5">
                <div class="shariff socialbar" data-services='["twitter","facebook","googleplus","pinterest"]' data-url="" style="max-width:100%;overflow:auto;margin-top:10px;" data-media-url=""></div>
            </div>
        </div>
    </div>
</div>