<div class="footer clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Konto</h5>
                <ul class="list-unstyled">
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Zahlung & Versand</h5>
                <ul class="list-unstyled">
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Impressum</h5>
                <ul class="list-unstyled">
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                  <li><a href="#">LoremIpsum </a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Kontakt</h5>
                <ul class="list-unstyled">
                  <li>0561 123456</li>
                  <li><a href="">mail@abc.de</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="newsletter clearfix">
                <h4>Newsletter</h4>
                <p>E-Mail-Adresse eingeben</p>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
                  <a href="#" class="input-group-addon" id="basic-addon2">Senden <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>


<div class="copyRight clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-xs-12">
              <p>© 2016 Copyright</p>
            </div>
            <div class="col-sm-5 col-xs-12">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
              </ul>  
            </div>
          </div>
        </div>
      </div>      