<!DOCTYPE html>
<html>
    {% include _head/head.html %}
<body class="">

    <div class="wrapper wrapper-top">
        <!-- messages --> 
        <div class="alert alert-dynamic alert-dismissible fade in alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong><i class="fa fa-check" aria-hidden="true"></i> Login erfolgreich</strong>
        </div>
    </div>

    <div class="wrapper wrapper-left">
        <!-- filters --> </div>

    <div class="wrapper wrapper-main">
        <!-- content -->
        {% include _header/header.html %}
        <div class="main">{{ content }}</div>
        {% include _footer/footer.html %}
        <div class="wrapper wrapper-overlay">
            <!-- content --> </div>

    </div>

    <div class="wrapper wrapper-right">
        <!-- basket preview -->
        <div class="wrapper-inner basket-preview">
            <header class="basket-header p-a-1">
                <h3 class="d-inline-block m-a-0">Warenkorb Vorschau</h3>
                <button type="button" id="closeBasketPreview" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </header><!-- /header -->
            <div class="p-a-1 list">
                {% include _component-basket-preview-list/component-basket-preview-list.html %}
            </div>
            <div class="p-a-1 bg-faded totals">
                {% include _component-totals/component-totals.html %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6 m-b-1">
                        <a href="" class="btn btn-outline-primary btn-block" title="Warenkorb">Zum Warenkorb <i class="fa fa-shopping-cart"></i></a>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <a href="" class="btn btn-primary btn-block" title="Kasse">Zur Kasse <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-bottom">
        <!-- eventually messages --> 
        
        <!-- LOGIN MODAL -->
        <div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Einloggen</h3>
                    </div>
                    <div class="modal-body">
                        {% include _partial-forms/login.html %}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="signup" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Account erstellen</h3>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST" class="m-b-1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-unit">
                                        <input type="email" name="email" id="txt_email">
                                        <label for="txt_email">E-Mail*</label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="input-unit">
                                        <input type="password" name="password" id="txt_pw">
                                        <label for="txt_pw">Passwort*</label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="input-unit">
                                        <input type="password" name="password" id="txt_pwrepeat">
                                        <label for="txt_pwrepeat">Passwort wiederholen*</label>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value=""> <span>Passwort merken</span>
                                    </label>
                                    <div>
                                        <a href="#" class="small">Passwort vergessen?</a>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary pull-xs-right">Senden</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Dan -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Bootstrap 4 Alpha JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    
    <script src={{ "dist/scripts/jquery.sticky-kit.min.js" }}></script>
    <script src={{ "dist/scripts/owl.carousel.min.js" }}></script>
    <script src={{ "dist/scripts/lightbox.js" }}></script>
    <script src={{ "dist/scripts/main.js" }}></script>
</body>

</html>