<form action="" method="POST">
    <div class="row">
        <div class="col-sm-6">
            <div class="input-unit success">
                <input type="text" name="vorname" id="txt_vorname">
                <label for="txt_vorname">Vorname*</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-unit error">
                <input type="text" name="nachname" id="txt_nachname">
                <label for="txt_nachname">Nachname*</label>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="input-unit">
                <input type="text" name="email" id="txt_email">
                <label for="txt_email">E-Mail*</label>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="input-unit">
                <input type="text" name="strasse" id="txt_strasse">
                <label for="txt_strasse">Straße*</label>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="input-unit">
                <input type="text" name="housenumber" id="txt_nummer">
                <label for="txt_nummer">Nr.*</label>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="input-unit">
                <input type="text" name="plz" id="txt_plz">
                <label for="txt_plz">PLZ*</label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="input-unit">
                <input type="text" name="ort" id="txt_ort">
                <label for="txt_ort">Ort*</label>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="input-unit">
                <select id="select" class="custom-select">
                    <optgroup label="Option Group 1">
                        <option>Option One</option>
                        <option>Option Two</option>
                        <option>Option Three</option>
                    </optgroup>
                    <optgroup label="Option Group 2">
                        <option>Option One</option>
                        <option>Option Two</option>
                        <option>Option Three</option>
                    </optgroup>
                </select>
                <label>Land</label>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-7">
            <button type="submit" class="btn btn-primary btn-block">Weiter</button>
        </div>
    </div>
</form>