<div class="form-group row">
  <label for="example-email-input" class="col-xs-12 col-sm-4 col-md-2 col-form-label">E-Mail</label>
  <div class="col-xs-12 col-sm-8 col-md-10">
    <input class="form-control" name="email" type="email" placeholder="email@example.com" id="example-email-input" name="email">
  </div>
</div>
<div class="form-group row">
  <label for="example-password-input" class="col-xs-12 col-sm-4 col-md-2 col-form-label">Passwort</label>
  <div class="col-xs-12 col-sm-8 col-md-10">
    <input class="form-control" type="password" placeholder="Passwort" id="example-password-input">
  </div>
</div>