.cmp-basket-item{
	@extend .cmp-basket-preview-item;

	.basket-item-infos {

		a{
			display: table;
		}

		&>a>[class^="item-"] {
		    display: table-cell;
		}

		.item-details{
			width: 50%;
			float: none;
		}

		.item-unit-price,
		.item-total-price{
			width: 25%;
			text-align: right;
		}
	}
}
