.cmp-basket-item{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	
	&>[class^="item-"]{
	    
	}

	.toggle-description{
	    display: none;
	}
	
	.item-details{
		display: block;
		padding-left: .5rem;
		width: calc( 100% - 80px );

		&>div[class^="item-"]{
			display: block;
			margin-bottom: .5rem;

			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}

	.item-name{
	    position: relative;
		font-weight: 700;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    height: 3em;

	    &:after{
			content: "…";
			display: inline-block;
			height: 50%;
			position:absolute;
			right: .25em;
			bottom: 0; 
			background-color: white;
	    }
	}

	.item-quantity{
		flex: 1;
		.input-group.vert{
			margin: 0 auto;
			width: 3em;
		}

		.btn{
			padding-top: .25rem;
			padding-bottom: .25rem;
		}

		.form-control{
			padding-left: .25rem;
		    padding-right: .25rem;
		    text-align: center;
		}
	}

	.item-availability{

	}

	.item-id{

	}

	.item-properties{

	}
	
	.item-description{
		max-height: 2em;
		height: auto;
		overflow: hidden;
		padding-bottom: 1em;

		transition: max-height 300ms; 
	}

	.expand-btn{
		display: block;
		position: relative;
		z-index: 1000000;
		width: 100%;
		margin-top: -1.5em;
		text-align: center;
		cursor: pointer;

		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 1.5em;
			border-bottom: 1px solid $gray-lighter;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		}

		&:after{
			content: 'MEHR';
			font-weight: 700;
			color: $gray-light;
		    display: inline-block;
		    position: relative;
		    background-color: white;
		    padding: 0 .5em;
		    top: -.8em;
		}
	}

	.toggle-description:checked{
		& ~ .item-description{
			max-height: 20em;// 10 lines
		}

		& ~ .expand-btn{
			&:after{
				content: 'weniger';
			}
		}
	}
	
	.item-unit-price{

	}
	
	.item-total-price{
		font-size: 1.5em;
	    font-weight: 700;
	    text-align: right;
	}

	.item-remove{
		position: absolute;
	    bottom: 1em;
	    right: 0;
	    line-height: 1;
	    color: $gray-lighter;
	    cursor: pointer;
		transition: color 250ms;

	    &:hover{
	    	color: $brand-danger;
	    }
	}

	@include media-breakpoint-up(sm){

		.item-details{
			width: 50%;
		}

		.item-name:after{
			content: none!important;
		}

		.item-unit-price,
		.item-total-price{
			width: auto!important;
			text-align: right;
		}

	}

	@include media-breakpoint-up(md){
		
	}

	@include media-breakpoint-up(lg){
		
	}
}
