<article class="cmp cmp-basket-item">
	
	<div class="item-image">
		<img src="http://placekitten.com/g/80/80">
	</div>

	<div class="item-details small">
		<input type="checkbox" class="toggle-description" id="itemid-{{include:id}}" value="">
		<div class="item-name">
			C0822 - Cool Cute Playful Naughty Cats Kittens Design Macbook pro 13.3'' (2010-2015) Fashion Trend Hülle Schutzhülle Schutzcase Hartplastik komplett Hülle Vorder-und Rück
		</div>
		<div class="item-id">
			525244343354151-{{include:id}}
		</div>
		<div class="item-availability">
			Verfügbar
		</div>
		<div class="item-properties">
			Grün, Kunststoff, verpackt
		</div>
		<div class="item-description">
			Bunte schöne Zeichnung gedruckt weiches Silikon TPU Telefonkasten Handyhülle entworfen für Apple iPhone 4/4S Flexible, elastic, and durable TPU material allows a soft, comfortable grip Flexibel elastische elegant dauerhaft leichte TPU Material Design.
		</div>
		<label class="expand-btn" for="itemid-{{include:id}}"></label>
	</div>
	
	<div class="item-unit-price">
		5,00 € / Stück
	</div>

	<div class="item-quantity">
		<div class="input-group vert">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button">+</button>
			</span>
			<input type="text" class="form-control" placeholder="666" size="3" maxlength="3">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button">-</button>
			</span>
		</div>
	</div>

	<div class="item-total-price">
		10,00 €
	</div>

	<div class="item-remove">
		Löschen <i class="fa fa-times"></i>
	</div>
	
</article>