.toggle-list-view{
	
	.fa{
		display: block;
		transition: color 200ms;
	}

	.fa:nth-of-type(1){
		color: $brand-primary;
	}

	.fa:nth-of-type(2){
		color: $gray-light;
	}
	

	&.grid{

		.fa:nth-of-type(1){
			color: $gray-light;
		}
		
		.fa:nth-of-type(2){
			color: $brand-primary;
		}
	}
	
}