.categories-list{
	
}
.cmp-product-thumb {
    width: 100%;
    .thumb-image {
        img {
            max-height: 100%;
        }
    }
    .thumb-content {
        width: 100%;
        .thumb-title {
            min-height: 40px;
        }
        .thumb-meta {
            
            .crossprice {
                position: absolute;
                right: 1rem;
                bottom: 4.5rem;
            }
            .left {
                position: absolute;
                bottom: 1rem;
            }
            .price {
                position: absolute;
                right: 1rem;
                bottom: 3rem;
            }            
        }
        .thumb-controls {
            margin-top: 0;
            position:absolute;
            bottom:1rem;
        }
    }
    &.grid {
        .thumb-content {
            .thumb-meta {
                margin-top: 1rem;
                .crossprice {
                    bottom: 5rem;
                }
                .left {
                    position: static;
                }
                .price {
                    position: static;
                } 
            }
            .thumb-controls {
                margin-top: 1rem;
                position:static;
            }
        }
    }
}

.page-infos{
	display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .product-count{
    	flex: 1;
    }
}

.product-list{
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;

	display: flex;
	flex-flow: row wrap;

	li{
		@include make-col-ready(12);
        @include make-col(12);
        @extend .m-b-1;
        display: flex;
	}
}

@include media-breakpoint-up(sm){
    .product-list.grid{

    	li{
            @include make-col(6);
            display: flex;
    	}

    }
}

@include media-breakpoint-up(md){
    .product-list.grid{

        li{
            @include make-col(4);
            display: flex;
        }
    }
}

@include media-breakpoint-up(lg){
    
}
